*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EFE0D3;
    margin: 0
}

#inicio, #formulario, #invitacion{
    text-align: center;
}

#sobre{
    width: 300px;
    cursor: pointer;
}

#whatsappIcon{
    width: 40px;
    margin-top: 10px;
}